.main-container {
    height: 100%;
}

.mb-4 {
    margin-bottom: 0.5rem !important;
}



.container, .row {
    max-height: fit-content;
}


.container {
    padding: 20px 0 !important;
}

.card, .col {
    height: fit-content;
}

.pb-1 {
    padding: 0 !important;

}

/* .col-md-6 {
height: 100vh;
} */

.login-signup {
    margin-bottom: 0.5rem !important;
}



.pb-lg-2 {
    padding-bottom: 0 !important;
}

.auth-page-image {
    height: 95vh;
}


/* .p-lg-5 {
    padding: 3vh !important;
} */

.form-control-lg {
    font-size: 1.5rem;

}


.btn-group-lg>.btn, .btn-lg {

    --bs-btn-font-size: 1.75vh;

}

.pb-lg-2 {
    padding-bottom: 1vh !important;
}

section {
  height: 100%;
}

.card-body {
    width: 100%;
    /* margin: 20px 0; */
}


.auth-logo {
    height: 10vh;
}

.auth-container{
    height: fit-content;
    padding-bottom: 20px;
    margin: auto 0;

}

.error {
    font-style: italic;
}

.p-4 {
    padding: 0 !important;
}

.login-signup-cta {
    margin: 0 auto 35px auto !important;
    font-style: italic;
    width: 90%;
    text-align: center;
}

.authentication-form {
    font-size: 0.8rem;
    padding: 3px !important;
    width: 80%;
    margin: 0 auto;
}

label {
    text-align: left;
    width: 80%;
}

.auth-options {
    margin-top: 0.5rem !important;
}

.auth-submit {
    margin-top: 20px;
}