.main-container {
    height: 100%;
}




.pb-lg-2 {
    padding-bottom: 0 !important;
}

.auth-page-image {
    height: 100%;
}


.p-lg-5 {
    padding: 3vh !important;
}

.form-control-lg {
    font-size: 1.5vh;

}


.btn-group-lg>.btn, .btn-lg {

    --bs-btn-font-size: 1.75vh;

}

.pb-lg-2 {
    padding-bottom: 1vh !important;
}

section {
  height: 100%;
}

