.logo {
    height: auto;
    width: 40vw;
}


h1 {
    margin-bottom: 5vh;
}

#carouselExampleAutoplaying {
    width: 70vw;
}

.my-5 {
    margin: 0 !important;
}

.carousel-container {
  width: 70vw;        
  margin: 0 auto;  
  margin-bottom: 5vh;     


}

.animated-text-container {
    margin: 5vh;
}


.carousel-item {
  position: relative; 
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7); 
  z-index: 1; 
}

.carousel-caption {
  z-index: 2; 
}


