body {
    background-color: #f8f9fa;
    color: #333;
}

.contact-form {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
}



.contact-success {
    margin: 50px 25px 0 25px;
}

.justify-content-center {
    margin: 50px 0 0 0;

}
/* .col-md-8 {
    width: 100%;

} */

@media (min-width: 500px) {

.contact-success {
    margin: 100px 0 0 0;
    /* margin-left: 220px; */
}

.justify-content-center {
    margin: 50px 20px 20px 20px;

}
}

.contact-success a {
    margin-top: 100px;
}

.contact-form h2 {
    color: #007bff;
    margin-bottom: 30px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-label {
    width: 100%;
}

.message {
    text-align: left;

  }

  /* .container {
    margin-left: 220px;

  } */