footer {
    text-align: center;
    font-weight: 600;
    width: 100vw;
    margin: 0 !important;
    padding: 10px 0;
   
}


@media (min-width: 500px) {
  footer {

    margin:  0 0 0 100px !important;
    padding: 0;
  
  }
}


/* .footer {
    margin:  0 0 0 0 !important;
    padding: 0 !important;
} */