.navbar-logo {
    height: 50px;
    width: auto;
    /* position: relative;
    left: 10%; */
}



@media (min-width: 500px) {
  .navbar {
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

  .navbar .container-fluid {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    display: flex;
  }

  .nav-item a {
    font-size: 1.25rem;
    margin: 15px 0;
    font-weight: 600;
  }


  .navbar-collapse {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column !important;
    /* width: 98%; */
    text-align: left;
  }

  .navbar-brand {
    margin-left: 0.5rem;
  }

  .navbar-logo {
    margin: 30px 0;
  }

  .navbar-toggler {
    display: none !important;
  }
}


@media (max-width: 499px) {
  .navbar {
    max-width: 95vw;
    height: auto;
    flex-direction: row !important;
  }

  .navbar-logo {
    height: 35px;
    width: auto;
    /* position: relative;
    left: 10%; */
}
  

  .navbar-toggler {
    display: block !important;
    }

  .navbar .container-fluid {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: 0;
  }

  .nav-item {
    width: 90vw;
  }

  .navbar-nav {
    max-width: 90vw;

  }

  .navbar-collapse {
    max-width: 85vw;
  }

}