#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.specs {

  padding: 8px;
  background-color: white;
  border-radius: '4px';
  color: black;
}

.car-trim {

  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;

}

body {
  font-family: "Poppins", "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6,
.heading {
  font-family: "Poppins", sans-serif !important;
}

.main-div {
  height: 100vh;
}

.App,
.main-div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   
}

.App > Routes,
.main-div > Routes {
  flex: 1;
}

.content {
  flex: 1;  
}

